@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Collapse;

@namespace Facepunch.Collapse.UI
@attribute [StyleSheet( "/ui/Vitals.scss" )]
@inherits Panel

@{
    var player = CollapsePlayer.Me;
    if ( !player.IsValid() ) return;
}

<root>
    <label class="health">Health: @(Health)</label>
    <label class="stamina">Stamina: @(Stamina)</label>
    <label class="calories">Calories: @(Calories)</label>
    <label class="hydration">Hydration: @(Hydration)</label>
    <label class="temperature">Temperature: @(Temperature)&deg;C</label>
</root>

@code
{
    private float Health => CollapsePlayer.Me.Health.CeilToInt();
    private float Stamina => CollapsePlayer.Me.Stamina.CeilToInt();
    private float Calories => CollapsePlayer.Me.Calories.CeilToInt();
    private float Hydration => CollapsePlayer.Me.Hydration.CeilToInt();
    private float Temperature => CollapsePlayer.Me.Temperature.CeilToInt();

    protected override int BuildHash()
    {
        if ( !CollapsePlayer.Me.IsValid() ) return 0;
        return HashCode.Combine( CollapsePlayer.Me, Health, Stamina, Temperature, Calories, Hydration );
    }
}
