@using System;
@using Sandbox;
@using Sandbox.UI;
@using NxtStudio.Collapse;

@namespace NxtStudio.Collapse.UI
@attribute [StyleSheet( "/ui/Vitals.scss" )]
@inherits Panel

@{
    var player = CollapsePlayer.Me;
    if ( !player.IsValid() ) return;
}

<root>
    <label class="health">@(healthIcon) @(Health)</label>
    <label class="stamina">@(staminaIcon) @(Stamina)</label>
    <label class="calories">@(caloriesIcon) @(Calories)</label>
    <label class="hydration">@(hydrationIcon) @(Hydration)</label>
    <label class="temperature">@(temperatureIcon) @(Temperature)&deg;C</label>
</root>

@code
{
    private float Health => CollapsePlayer.Me.Health.CeilToInt();
    private float Stamina => CollapsePlayer.Me.Stamina.CeilToInt();
    private float Calories => CollapsePlayer.Me.Calories.CeilToInt();
    private float Hydration => CollapsePlayer.Me.Hydration.CeilToInt();
    private float Temperature => CollapsePlayer.Me.Temperature.CeilToInt();

    private string healthIcon = "health";
    private string staminaIcon = "stamina";
    private string caloriesIcon = "calories";
    private string hydrationIcon = "hydration";
    private string temperatureIcon = "temperature";

    protected override int BuildHash()
    {
        if ( !CollapsePlayer.Me.IsValid() ) return 0;


        return HashCode.Combine( CollapsePlayer.Me, Health, Stamina, Temperature, Calories, Hydration );
    }
}
