@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/Vitals.scss" )]
@inherits Panel

@{
    var player = ForsakenPlayer.Me;
    if ( !player.IsValid() ) return;
}

<root>
    <label class="health">Health: @(Health)</label>
    <label class="stamina">Stamina: @(Stamina)</label>
    <label class="calories">Calories: @(Calories)</label>
    <label class="hydration">Hydration: @(Hydration)</label>
    <label class="temperature">Temperature: @(Temperature)&deg;C</label>
</root>

@code
{
    private float Health => ForsakenPlayer.Me.Health.CeilToInt();
    private float Stamina => ForsakenPlayer.Me.Stamina.CeilToInt();
    private float Calories => ForsakenPlayer.Me.Calories.CeilToInt();
    private float Hydration => ForsakenPlayer.Me.Hydration.CeilToInt();
    private float Temperature => ForsakenPlayer.Me.Temperature.CeilToInt();

    protected override int BuildHash()
    {
        if ( !ForsakenPlayer.Me.IsValid() ) return 0;
        return HashCode.Combine( ForsakenPlayer.Me, Health, Stamina, Temperature, Calories, Hydration );
    }
}
