@using System;
@using Sandbox;
@using Sandbox.UI;
@using NxtStudio.Collapse;

@namespace NxtStudio.Collapse.UI
@attribute [StyleSheet( "/ui/Vitals.scss" )]
@inherits Panel

@{
    var player = CollapsePlayer.Me;
    if ( !player.IsValid() ) return;
}

<root>
    <label class="health"><img @ref="healthIcon" src="/textures/ui/vitals/hearth.png" class="icon" /> @(Health)</label>
    <label class="stamina"><img  @ref="staminaIcon" src="/textures/ui/vitals/stamina.png" class="icon" /> @(Stamina)</label>
    <label class="calories"><img  @ref="caloriesIcon" src="/textures/ui/vitals/calories.png" class="icon" /> @(Calories)</label>
    <label class="hydration"><img  @ref="hydrationIcon" src="/textures/ui/vitals/hydration.png" class="icon" /> @(Hydration)</label>
    <label class="temperature"><img  @ref="temperatureIcon" src="/textures/ui/vitals/temperature.png" class="icon" /> @(Temperature)&deg;C</label>
</root>

@code
{
    private float Health => CollapsePlayer.Me.Health.CeilToInt();
    private float Stamina => CollapsePlayer.Me.Stamina.CeilToInt();
    private float Calories => CollapsePlayer.Me.Calories.CeilToInt();
    private float Hydration => CollapsePlayer.Me.Hydration.CeilToInt();
    private float Temperature => CollapsePlayer.Me.Temperature.CeilToInt();

    public Image healthIcon { get; set; }
    public Image staminaIcon { get; set; }
    public Image caloriesIcon { get; set; }
    public Image hydrationIcon { get; set; }
    public Image temperatureIcon { get; set; }
    protected override int BuildHash()
    {
        if ( !CollapsePlayer.Me.IsValid() ) return 0;


        return HashCode.Combine( CollapsePlayer.Me, Health, Stamina, Temperature, Calories, Hydration );
    }
}